.question-root {
    -fx-background-color: rgba(15, 5, 5, 0.92);
    -fx-background-radius: 18;
    -fx-border-color: #d2a650;
    -fx-border-width: 2.5;
    -fx-border-radius: 18;
}

.title {
    -fx-font-size: 22px;
    -fx-text-fill: #f5d27a;
    -fx-font-weight: bold;
}

.category {
    -fx-font-size: 13px;
    -fx-text-fill: #f0e6d0;
    -fx-opacity: 0.9;
}

.timer {
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 120, 60, 0.9);
    -fx-padding: 6 12 6 12;
    -fx-background-radius: 999;
    -fx-font-weight: bold;
}

.question-text {
    -fx-font-size: 20px;
    -fx-text-fill: #fff3d6;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}

.answer-btn {
    -fx-background-color: rgba(90, 40, 10, 0.85);
    -fx-text-fill: #ffe9c7;
    -fx-font-size: 18px;
    -fx-padding: 14 20;
    -fx-pref-width: 260;

    -fx-background-radius: 18;
    -fx-border-radius: 18;

    -fx-border-color: #d2a650;
    -fx-border-width: 2;
    -fx-alignment: center;
}

.answer-btn:hover {
    -fx-background-color: rgba(140, 60, 20, 0.95);
}

.answer-correct {
    -fx-background-color: #2fa24f;
    -fx-border-color: #baffb8;
}

.answer-wrong {
    -fx-background-color: #b82f2f;
    -fx-border-color: #ffb8b8;
}


.close-btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}
.close-btn:hover {
    -fx-text-fill: #ffb7b7;
}
